<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  

  <ion-slides *ngIf="dataLocalService.noticias.length === 0" >
    <ion-slide>
      <h1>No hay favoritos</h1>
    </ion-slide>
  </ion-slides>

  <app-noticias [noticias]="dataLocalService.noticias"></app-noticias>


  
</ion-content>
