<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Titulares
    </ion-title>
  </ion-toolbar>

  <ion-segment scrollable 
                mode="md" 
                color="primary"
                (ionChange)="cambiarCategoria($event)">

    <ion-segment-button mode="md"
                        *ngFor="let categoria of categorias"
                        [value]="categoria">
      <ion-label> {{ categoria }} </ion-label>
    </ion-segment-button>
    
  

  </ion-segment>


</ion-header>

<ion-content color="dark">

  <app-noticias [noticias]="noticias">

  </app-noticias>

  <ion-infinite-scroll threshold="150px" 
                  (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" 
                loadingText="Cargando datos...">
                
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
