<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Noticias App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  color="dark">
  <app-noticias [noticias]="noticias" ></app-noticias>

  <ion-infinite-scroll threshold="150px" 
                        (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" 
                            loadingText="Cargando noticias...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
    
    
</ion-content>
